# common folder
utils/
__pycache__/
.history/
.vscode/
backup/
Backup/
log/
checkpoints/
training_example_checkpoints/
Article-Figure/
python/
data/
Article-Figures/

# common file
*.sh

# specific folder
Script/
Script/Training/OpenSWI-shallow-Subsets
Script/Training/OpenSWI-shallow/JupyterNotebook/
Script/Training/OpenSWI-deep/JupyterNotebook/

SWInversion/ADsurf
SWInversion/plot_source
Datasets/Datasets-Construction/OpenSWI-real/CSRM/Figures
Datasets/Datasets-Construction/OpenSWI-real/LongBeanch/Figures
Datasets/Datasets-Construction/OpenSWI-shallow/0.2-10s-Aug/Figures
Datasets/Datasets-Construction/OpenSWI-shallow/0.2-10s-Base/Figures

# specific file
Script/Training/OpenSWI-shallow/readme.md
Script/Training/OpenSWI-deep/readme.md
SWInversion/model/dispformer.py
SWInversion/model/dispformer_local_global.py
SWInversion/model/FCNN.py
SWInversion/model/sfnet.py
SWInversion/model/Unet.py